<!doctyoe html>
<html>

<head></head>
<body>

<h3>Hello, Nginx from {{inventory_hostname}} our vairable is: {{variable}}</h3>
<p>We have configured Nginx on server {{inventory_hostname }} and variable: {{variable}}</p>
</body>

</html>

